<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap/css/bootstrap.css")"/>
    @Html.Partial("~/Views/Shared/Css/css.cshtml")
    
    <!-- JAVASCRIPT -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/bootstrap/js/bootstrap.js")"></script>
    
    <!-- OTHER -->
    @RenderSection("head", false)

</head>
<body>
    @RenderBody()
</body>
</html>
